{% extends 'bootstrap4/master.html' %}
{% load static %}

{% block content %}
<div>    
    <h1 class = "text-center"> Construcción de  CBIR para la detección temprana de enfermedades en las plantas mediante el análisis de  hojas</h1>
    
    <br>
    <div class="text-center">
        <img src="{% static 'img/hojas_enfermas.jpg' %}" class="img-fluid" alt="Hojas enfermas">
    </div>
    <br>
    <br>
    <h2 class = "text-center">Introducción</h2>
    <p>La agricultura es  un sector fundamental en la economía nacional.
       La producción agrícola es muy importante en muchos países en desarrollo. 
       El aumento de la población y la esperanza de vida está empujando 
       cada vez más al sector agrícola a introducir nuevas variedades de 
       cultivos de alto rendimiento,  el cuidado de este tipo de cultivos 
       es crucial ya que las enfermedades de las plantas son los principales
       culpables de la reducción de la producción en agronomía [1], lo que 
       genera enormes pérdidas, la detección y clasificación eficiente de 
       las enfermedades de la planta contribuye significativamente a reducir 
       estas pérdidas. Los avances tecnológicos en información pueden utilizarse 
       para el diagnóstico temprano  de las enfermedades, un ejemplo son los 
       métodos de foto-clasificación y procesamiento, ampliamente usados en la 
       identificación  y clasificación temprana de enfermedades en los cultivos [2].
       En este documento se propone un  algoritmo CBIR para la detección temprana 
       de enfermedades en las plantas mediante el análisis de  hojas.
    </p>
    <br>
    <h2 class = "text-center">Justificación</h2>
    <p>Las enfermedades de las plantas provocan importantes pérdidas económicas y productivas en la agricultura y la silvicultura. Por ejemplo, una pérdida económica sustancial fue causada por una enfermedad fúngica en la soja llamada roya de la soja. La ventaja de $11 millones de dólares se logró  erradicando solo el 20% de la infección de la planta [3].
        Por lo tanto, la detección temprana de las enfermedades de las plantas juega un papel importante en la agricultura y el uso de sistemas automatizados de identificación de enfermedades es muy valioso [4]. La infección con virus, hongos y bacterias, así como con insectos, puede causar daños a enfermedades y plantas.  Actualmente en los Estados Unidos hay alrededor de 50.000 parásitos y enfermedades no parasitarias de plantas [5]. Los síntomas en varias partes de las plantas debido a enfermedades infecciosas tienen un impacto importante en la agricultura. Efecto [6].
        La identificación manual de las enfermedades de las plantas es una tarea desafiante y con menos exactitud en comparación con esquemas de detección automática que utilizan procesamiento de imágenes para la identificación de enfermedades de las plantas y requiere menos esfuerzos, menos tiempo y proporciona más precisión. Una parte significativa de los  síntomas  de enfermedades se pueden evidenciar en las hojas  como por ejemplo color amarillento  y marrón, manchas,  quemaduras tempranas y tardías. La visión por computadora se emplea para clasificar el tipo de enfermedad y medir el área afectada [7-9].
        
        Al revisar la literatura se encontró que Un sistema computacional automatizado que es capaz de realizar una detección y clasificación eficiente de enfermedades de las plantas resulta un activo valioso para los agrónomos que tienden a realizar diagnósticos mediante la observación óptica de las hojas infectadas de las plantas, además se decide seleccionar la hoja como imagen de entrada del algoritmo ya que se encontró que en ella se encuentra una parte significativa de los síntomas.
        </p>
</div>
{% endblock %}