
{% extends 'bootstrap4/master.html' %}

{% block content %}
{{form.errors}}
<div class="row">
  <div class="col-12">    
    <h3 class="border-bottom border-gray pb-2 mb-0 text-center">Registrar enfermedad</h3>
    <form method="POST" enctype="multipart/form-data" class="mt-3">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.title.id_for_label }}">{{ form.name.label }}</label>
        {{ form.name }}
        {{ form.name.errors }}
      </div>
      
      <div class="form-group">
        <label for="{{ form.text.id_for_label }}">{{ form.description.label }}</label>
        {{ form.description }}
        {{ form.description.errors }}
      </div>
      <div class = "text-center">
        <input type="submit" value="Send" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>
{% endblock %}