
{% extends 'bootstrap4/master.html' %}

{% block content %}
{{form.errors}}
<div class="row">
  <div class="col-12">
    <h3 class="text-center border-bottom border-gray pb-2 mb-0">Registrar imagenes de una emfermedad</h3>
    <h3 class="border-bottom border-gray pb-2 mb-0">{{form.image.label}} </h3>
    <form method="POST" enctype="multipart/form-data" class="mt-3">
      {% csrf_token %}
      {{ form.as_p }}
      <div class = "text-center">
        <input type="submit" value="Send" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
