{% load static %}

<nav class="navbar navbar-expand-md bg-purple-gradient navbar-dark">
  <a class="navbar-brand" href="{% url 'disease.create' %}">
    <img src="{% static 'img/logo.jpeg' %}" width="30" height="30" class="d-inline-block align-top" alt="Home">
    CBIR    
  </a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      {% include 'bootstrap4/header_menu.html' %}
    </div>
  </div>
</nav>