<a class="nav-item nav-link active" href="{% url 'index' %}">Home</a>
<a class="nav-item nav-link active" href="{% url 'disease.create' %}">Registrar enfermedad</a>
<a class="nav-item nav-link active" href="{% url 'disease.upload_images' %}">Registrar imagen</a>
<a class="nav-item nav-link active" href="#">Busqueda CBIR</a>
{% if not user.is_authenticated %}
<a class="nav-item nav-link active" href="#">Sign In</a>
{% else %}
<a class="nav-item nav-link active" href="#">Write a post</a>
<a class="nav-item nav-link active" href="#">Log out</a>
{% endif %}