{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}CBIR - Enfermedades de plantas{% endblock %}</title>    
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <style>
      .bg-purple-gradient {
        background: linear-gradient(to right, rgb(142, 45, 226), rgb(74, 0, 224))
      }
      .bg-purple {
        background-color: rgb(142, 45, 226);
      }
      .bg-purple-2 {
        background: rgb(74, 0, 224);
      }
      .profile-img {
        width: 75%;
      }      

    </style>
    {% block css %}<!-- bloque para sobreescribir css -->{% endblock %}
  </head>
  <body class="bg-light">

    {% include 'bootstrap4/header.html' %}
    
    <main role="main" class="container">
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        {% block content %}
        <!-- contenido principal -->
        {% endblock %}
      </div>
    </main>

    {% include 'bootstrap4/footer.html' %}
    {% bootstrap_javascript jquery='full' %}       
    {% block js %}<!-- bloque para incrustar js adicional -->{% endblock %}
  </body>
</html>