
{% extends 'bootstrap4/master.html' %}

{% block content %}
{{form.errors}}
<div class="row">
  <div class="col-12">
    <h3 class="border-bottom border-gray pb-2 mb-0">Buscar</h3>
    <form method="POST" enctype="multipart/form-data" class="mt-3">
      {% csrf_token %}
      {{form.as_p}}
    
      <input type="submit" value="Send" class="btn btn-primary" />
    </form>
    {%if query_img %}
    <img style="max-height:200px;" src="/{{query_img}}"  class="default-preview-img">
    {% endif %}
    {% for result in query_results %}
    
    <div style="display: inline-block;" class="images-result">
      <h4> {{result.disease.name}}</h4>
      <img style="max-height:200px;" src="/{{result.image}}"  class="default-preview-img">
    </div>
    
    {% endfor %}
  </div>
</div>
{% endblock %}