</script><script src="/static/app/preview.js"></script>

{% if widget.is_initial %}{{ widget.initial_text }}: <a href="{{ widget.value.url }}">{{ widget.value }}</a>{% if not widget.required %}
<input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
<label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>{% endif %}<br>
{{ widget.input_text }}:{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} data-target="{{ widget.name }}-preview" data-initial="{{ widget.value.url }}">
{% if widget.include_preview %}
    <br><img style="max-height:200px;" src="" id="{{ widget.name }}-preview"  class="default-preview-img ">
{% endif %}
